<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/zenith/Zenith_Bank_logo.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Apps - Zenith Bank Plc</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="top">
                <img src="/img/zenith/Zenith_Bank_logo.png" alt="Zenith Bank" />
            </div>
            <div class="box">
                <h2>eazy banking</h2>
                <p>Experence a whole new world of banking, simplified.</p>
            </div>
            <a href="/login">log in</a>
        </div>
        <div class="footer">
            <hr />
            <div class="box">
                <span>register</span>
                <span>open account</span>
                <span>help</span>
            </div>
        </div>
    </div>
    <script src="/jscript/index.js"></script>
</body>
</html>