*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline: none;
    list-style-type: none;
    color: gainsboro;
}
body{
    background-image: url(/img/admin/darkcards.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    margin: 20px;
}
div.main{
    padding: 20px;
}

